<div class="content" nz-row nzJustify="center" nzAlign="top" nzSpan="24">
  <div class="inner-content">
    <img src="../../../assets/logo-complete.png" alt="">

    <nz-card [nzBordered]="false">
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Informe um email valido">
            <nz-input-group nzPrefixIcon="user">
              <input [(ngModel)]="email" type="text" ngModel email nz-input formControlName="userName"
                placeholder="Username" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Informe sua senha">
            <nz-input-group nzPrefixIcon="lock">
              <input [(ngModel)]="senha" type="password" nz-input formControlName="password" placeholder="Password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <div nz-row class="login-form-margin">
        </div>
        <button nz-button class="login-form-button login-form-margin" nzType="primary">Entrar</button>
        <a [routerLink]="['cadastrar']"> Cadastre-se Agora </a>
      </form>

    </nz-card>
  </div>

</div>
