<div class="buttonAdd" nzSpan="24">
  <button style="margin-bottom:20px;" [routerLink]="['cadastrar']" nz-button nzType="primary" nzSize="large"
    nzShape="round"><i nz-icon nzType="plus" nzTheme="outline"></i>Cadastrar</button>
</div>

<nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th *ngFor="let  column of listOfColumns" [nzSortOrder]="column.sortOrder" [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections" [nzFilterMultiple]="column.filterMultiple"
        [nzFilters]="column.listOfFilter" [nzFilterFn]="column.filterFn">
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td>{{ data.prestador.nome }}</td>
      <td>{{ data.prestador.tipo_pessoa }}</td>
      <td>{{ data.servico_prestado }}</td>
      <td>{{ data.data_inicio | date:'dd/MM/yyyy' }}</td>
      <td>{{ data.data_fim | date:'dd/MM/yyyy' }}</td>
      <td>
        <button routerLink="atualizar/{{data.id}}" route style="margin-right:10px;" nz-button nzType="primary" nzWarning
          nzSize="small"><i nz-icon nzType="edit" nzWarning nzTheme="outline"></i></button>
        <button routerLink="deletar/{{data.id}}" style="margin-right:10px;" nz-button nzType="primary" nzDanger
          nzSize="small"><i nz-icon nzType="delete" nzDanger nzTheme="outline"></i></button>
        <button (click)="onClick($event)" id="{{data.id}}" nz-button nzType="primary" nzSize="small"><i nz-icon
            nzType="calendar" nzDanger nzTheme="outline"></i></button>

      </td>
    </tr>
  </tbody>
</nz-table>
